html, body {
    height: 100%;
    min-height: 300px;
    overflow: hidden;
}

#header-panel {
    height: 6vh;
    min-height: 30px;
    background-color: rgba(11, 1, 30, 0.96);
    background-image: url(https://avatars3.githubusercontent.com/u/13533757?s=60&u=ad856bd…&v=4);
    background-repeat: no-repeat;
    background-size: 28px, 28px;
    background-position: 8px;
    display: flex;
    color: beige;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#btn-home {
    position: fixed;
    left: 60px;
    min-width: 2rem;
    font-size: 0.85rem;
    cursor: pointer;
    pointer-events: all;
}

#content-panel {
    height: 86vh;
}

#topic-panel, #view-win {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
    overflow: auto;
}

#view-win {
    width: 100%;
}

#topic-panel, #vcomments {
    padding: 0 12vw;
}

@media only screen and (max-width: 800px) {
    .item-panel {
        width: 33vw;
    }
}

@media only screen and (max-width: 500px) {
    .item-panel {
        width: 70vw;
    }
}

.item-panel {
    width: 21.3vw;
    float: right;
    margin: 2vh 1vw;
    padding: 1vh 1vw;
    background-color: aliceblue;
    border-radius: 8px;
}

.item-title {
    cursor: pointer;
    font-size: 0.95rem;
    color: #8401f3bf;
}

.item-title:hover {
    text-decoration: underline #8b05d6;
    text-decoration-skip-ink: none;
}

.item-content {
    font-size: 0.85rem;
    color: #000000;
    margin-top: 0.5rem;
}

.item-date {
    text-align: right;
    font-size: 0.6rem;
}

#footer-panel {
    height: 8vh;
    min-height: 40px;
    background-color: rgba(11, 1, 30, 0.96);
}