/*markdown*/
.tool-bar {
    padding: 0 20px 0 10px !important;
    user-select: none;
    border-radius: 0 0 4px 0;
    font-weight: bolder;
}
.tool-bar a {
    margin-left: 15px;
    color: #2f5c7d;
}

.marked-panel pre:hover .tool-bar {
    background-color: #e4d5c6;
}

.marked-panel .line-start {
    min-width: 35px;
    display: table-cell;
    color: #0f117b;
    font-style: initial;
    text-align: right;
    padding-right: 8px;
    line-height: 20px;
    font-size: 10px;
    background-color: antiquewhite;
    user-select: none;
}

.marked-panel .line-body {
    display: table-cell;
    padding-left: 8px;
    padding-right: 8px;
}

.marked-panel p, .marked-panel pre {
    margin: 10px 20px 5px 20px;
}

.marked-panel p {
    white-space: pre-wrap;
    text-indent: 20px;
}

.marked-panel li {
    list-style-type: none;
    display: block;
    margin: 4px;
}

.marked-panel li:hover {
    border-left: whitesmoke solid 2px;
}

.marked-panel li > .li-body {
    display: inline-block;
    cursor: default;
}

.marked-panel ol {
    counter-reset: sectioncounter;
    padding: 5px 0;
}

.marked-panel li:before {
    width: 50px;
    display: inline-block;
    margin: 2px 12px 0 0;
    text-align: right;
    color: #181cd6;
    vertical-align: top;
    font-size: large;
}

.marked-panel ul > li:before {
    content: ' + ';
}

.marked-panel ol > li:before {
    content: counter(sectioncounter) ' - ';
    counter-increment: sectioncounter;
}

.marked-panel pre {
    background-color: #fbf9f7;
    word-break: break-word;
    white-space: pre-wrap;
    border-radius: 3px 3px 8px 8px;
    box-shadow: 0 0 15px -10px;
    max-height: 504px;
    overflow: hidden;
}

.marked-panel pre > code > div:last-child > div.line-start {
    border-radius: 0 0 0 8px;
}

.marked-panel .mermaid {
    padding: 20px;
    text-align: center;
}