a {
    text-decoration: none;
    color: #bf4f3c;
}

a:hover {
    box-shadow: 0 0 10px 0 #6065a0 !important;
    border-radius: 2px;
    padding: 2px;
}

body > nav {
    position: fixed;
    z-index: 1314 !important;
    background-color: #F8F9F7;
    vertical-align: middle;
}

#md {
    height: 0;
    width: 0;
}

.marked-panel {
    margin: 5px 100px 0 36px;
}

#lv-container {
    margin: 0 100px 0 36px;
    max-width: 80%;
}