body {
    background-color: #efefef;
}

body>* {
    background-color: #fbf9f7;
    padding: 10px;
}

/*加载动画*/
#msg-panel {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: white;
}

.spinner {
    width: 30%;
    height: 20%;
    margin: 20% auto;
    background-color: #c57e7e;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #bf4f3c;
    animation: ease-in-out;
}

a:hover {
    box-shadow: 0 2px 0 0 #6065a0 !important;
    border-radius: 0 !important;
}

body > nav {
    position: fixed;
    z-index: 1314 !important;
    background-color: #F8F9F7;
    vertical-align: middle;
}

.head {
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #291515;
    color: white;
}

.lead-txt {
    margin: 50px 40px 15px 40px;
    padding: 10px;
    background-color: #f9f9f9;
    line-height: 25px;
}
.lead-txt .keyword {
    border-radius: 3px;
    padding: 2px;
    cursor: default;
    box-shadow: 0 0 15px 0 #d6cbd4;
}

.marked-panel, .comments-panel {
    margin: 5px 100px 0 36px;
    min-width: 500px;
}

#vcomments {
    margin: 0 100px 0 36px;
}

/*index 辅助样式*/
a[href^="javascript:choiceKeyword('"][href$="')"] {
    padding: 2px;
}
a.choiced {
    background-color: #dedfe8;
    border-radius: 3px;
}

/* wap */
.wap {
    font-size: 13px;
}
.wap .marked-panel, .wap .comments-panel {
    margin: 5px;
    min-width: 0;
}
.wap #vcomments {
    margin:  0 20px;
}