::-webkit-scrollbar {
	width: 6px;
	background-color: white;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #c9d6f0;
	border-radius: 3px;
}
html, body {
    margin: 1% 10%;
}

#input_panel > * {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

#output_pic {
    margin: 0;
    padding: 0;
    line-height: 12px;
    white-space: pre;
    font-size: 12px;
    outline: none;
    overflow: auto;
    transform-origin: 0 0;
}