<!doctype html>
<html lang="zh">
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <link href="/view/all.css" type="text/css" rel="stylesheet">
    <script src='/view/comment.js' async></script>
    <script src='/view/utils.js'></script>
    <script src='./mer.js'></script>
    <script src='./saveSvgAsPng.js'></script>
    <link href="./mer.css" type="text/css" rel="stylesheet">
    <script src='/view/loadingboard.js'></script>
    <script src='/3rd-lib/mermaid.min.8.0.0.js'></script>
    <title>在线绘图工具</title>
</head>
<body>
<nav class="head"><a href="/" style="vertical-align: top;">首页</a>　<span class="text-title">在线绘图工具</span>　<small>当前访问量:&nbsp;<i id="readcount">--</i></small></nav>
<br/><br/>
<div style="position: relative">
    <div class="tool-bar">
        <a href="javascript: showDemo('base-flow')">Basic flowchart</a>
        <a href="javascript: showDemo('large-flow')">Large flowchart</a>
        <a href="javascript: showDemo('base-sequence')">Basic Sequence</a>
        <a href="javascript: showDemo('all-sequence')">All(1) Sequence</a>
        <a href="javascript: showDemo('all2-sequence')">All(2) Sequence</a>
    </div>
    <ol id="source-input" class="mermaid-source" contenteditable="true"><li><br/></li></ol>
    <ol id="source-output" class="mermaid-source"><li><br/></li></ol>
</div>
<div>
    <div class="tool-bar">
        <a href="javascript: saveSvgAsPng(utils.$('.mermaid-view > svg')[0], '_.png')">export png</a>
        <a href="javascript: utils.download(utils.$('.mermaid-view')[0].innerHTML, '_.svg')">export svg</a>
    </div>
    <div class="mermaid-view mermaid"></div>
</div>
<div class="comments-panel"><h2 class="showtonav">留言</h2><div id="vcomments"></div></div>
<canvas class="hide"></canvas>
</body>
</html>