.mermaid-source {
    resize: vertical;
    min-height: 120px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0;
    font-family: unset;
    list-style-type: none;
    counter-reset: sectioncounter;
    white-space: pre-wrap;
}

.tool-bar > a {
    margin: 0 10px;
    font-weight: bold;
    color: green;
}

.mermaid-source li::before {
    content: counter(sectioncounter) '　';
    counter-increment: sectioncounter;
    width: 50px;
    display: inline-block;
    text-align: right;
    min-width: 35px;
    color: #0f117b;
    font-style: initial;
    padding-right: 8px;
    font-size: 10px;
    user-select: none;
}
.mermaid-source > li {
    margin: 0 10px;
}
.mermaid-source > li:focus {
    border-bottom: 1px dashed gray;
}

#source-input {
    position: absolute;
    opacity: 0;
    width: calc(100% - 20px);
}

#source-input:focus {
    opacity: 1 !important;
}

.mermaid-view {
    text-align: center;
}