.marked-panel {
    font-size: 0.8rem;
    padding: 1rem;
    display: block;
    overflow: auto;
}

.marked-panel h1, .marked-panel h2 {
    margin-top: 15px;
    position: sticky;
}

.marked-panel hr {
    font-size: 0;
    height: 0.1rem;
    margin: 1rem;
    border: none;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(38 37 34), rgba(0, 0, 0, 0));
}

.tool-bar {
    padding: 0 20px 0 10px !important;
    user-select: none;
    border-radius: 0 0 4px 0;
    font-weight: bolder;
}

.tool-bar a {
    margin-left: 15px;
    color: #2f5c7d;
}

.marked-panel pre:hover .tool-bar {
    background-color: #e4d5c6;
}

.marked-panel .line-start {
    min-width: 35px;
    display: table-cell;
    color: #0f117b;
    font-style: initial;
    text-align: right;
    padding-right: 8px;
    line-height: 20px;
    font-size: 10px;
    background-color: antiquewhite;
    user-select: none;
}

.marked-panel .line-body {
    display: table-cell;
    padding-left: 8px;
    padding-right: 8px;
}

.marked-panel > p, .marked-panel pre {
    margin: 0 0 3px 1.2em;
}

.marked-panel > p {
    white-space: pre-wrap;
}

.marked-panel li > p {
    display: inline;
    margin: 0;
}

.marked-panel li {
    list-style-type: none;
    margin: 4px;
}

.marked-panel li > .li-body {
    display: inline-block;
    cursor: default;
}

.marked-panel ol, .marked-panel ul {
    counter-reset: sectioncounter;
    padding: 5px 0;
    margin: 0;
}

.marked-panel li::before {
    margin: 0 10px 0 15px;
    color: #181cd6;
    vertical-align: middle;
    font-size: large;
}

.marked-panel ul > li::before {
    content: ' * ';
}

.marked-panel ol > li::before {
    content: counter(sectioncounter) '′';
    counter-increment: sectioncounter;
}

.marked-panel pre code > div.cospand {
    max-height: 304px;
    overflow: hidden;
    position: relative;
    pointer-events: none;
}

.marked-panel pre code > div.cospand > div a {
    pointer-events: auto;
}

.marked-panel pre code > div.cospand::after {
    cursor: pointer;
    pointer-events: auto;
    content: "click to expand";
    font-weight: bolder;
    text-align: center;
    position: absolute;
    display: block;
    top: 280px;
    opacity: 0.9;
    background-color: rgba(241, 230, 230, 0.7);
    width: 100%;
    box-shadow: 0 0 25px 10px #f3e8e8;
    border-radius: 0 0 10px 10px;
}

.marked-panel pre {
    background-color: #fbf9f7;
    word-break: break-word;
    white-space: pre-wrap;
    border-radius: 3px 3px 8px 8px;
    box-shadow: 0 0 15px -10px;
}

.marked-panel pre > code > div > div:last-child > div.line-start {
    border-radius: 0 0 0 8px;
}

.marked-panel .mermaid {
    padding: 20px;
}

.marked-panel .mermaid[data-status='1'] {
    text-align: center;
}

.marked-panel:hover .mermaid[data-status='0']::before {
    display: block;
    margin: -20px;
    text-align: center;
    position: absolute;
    background-color: #e4d5c6;
    border-radius: 0 0 4px 0;
    content: ' Initializing image, please wait... ';
}