#input_panel > * {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

#output_pic {
    margin: 0;
    padding: 0;
    line-height: 12px;
    white-space: pre;
    font-size: 12px;
    outline: none;
    overflow: auto;
    transform-origin: 0 0;
}