.marked-panel {
	font-size: 0.8rem;
	padding: 0 1rem;
	display: block;
	overflow: auto;
}

.content-panel a {color: aqua;}

.marked-panel h1 {
	color: #99FF00;
	counter-reset: ch2 ch3 ch4 ch5 ch6;
}
.marked-panel h2 {
	color: #99CC00;
	counter-increment: ch2;
	counter-reset: ch3 ch4 ch5 ch6;
}
/* h2 一、二、三 */
.marked-panel h2::before {
	content: counter(ch2, cjk-decimal) '、'
}
.marked-panel h3 {
	color: #999900;
	counter-increment: ch3;
	counter-reset: ch4 ch5 ch6;
}
/* h3 (1)、(2)、(3) */
.marked-panel h3::before {
	content: '('counter(ch3, decimal)') 、'
}
.marked-panel h4 {
	color: #999966;
	counter-increment: ch4;
	counter-reset: ch5 ch6;
}
/* h4 (-a)、(-b)、(-c) */
.marked-panel h4::before {
	content: '(  'counter(ch4, lower-alpha)') 、'
}
.marked-panel h5 {
	color: #999999;
	counter-increment: ch5;
	counter-reset: ch6;
}
/* h5 (a.1)、(a.2)、(a.3) */
.marked-panel h5::before {
	content: '('counter(ch4, lower-alpha)'.'counter(ch5, decimal)') 、'
}
.marked-panel h6 {
	color: #9999CC;
}


.marked-panel hr {
	font-size: 0;
	height: 0.1rem;
	margin: 1rem;
	border: none;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(38 37 34), rgba(0, 0, 0, 0));
}

.tool-bar {
	padding: 0 20px 0 10px !important;
	user-select: none;
	border-radius: 0 0 4px 0;
	font-weight: bolder;
}

.tool-bar a {
	margin-left: 15px;
	color: #2f5c7d;
	cursor: pointer;
}

.marked-panel pre:hover .tool-bar {
	background-color: #e4d5c6;
width: auto;}

.marked-panel .line-start {
	min-width: 35px;
	display: table-cell;
	color: #0f117b;
	font-style: initial;
	text-align: right;
	padding-right: 8px;
	line-height: 20px;
	font-size: 10px;
	background-color: #f1ede9;
	user-select: none;
}

.marked-panel .line-body {
	display: table-cell;
	padding-left: 8px;
	padding-right: 8px;
	width: 100%;
}

.marked-panel > p, .marked-panel pre {
	margin: 0 0 3px 1.2em;
}

.marked-panel > p {
	white-space: pre-wrap;
	font-size: 0.86rem;
}

.marked-panel li > p {
	display: inline;
	margin: 0;
}

.marked-panel li {
	list-style-type: none;
	margin: 4px;
}

.marked-panel li > .li-body {
	display: inline-block;
	cursor: default;
}

.marked-panel pre code div:not(:first-child):hover {
	background-color: beige;
}

.marked-panel ol, .marked-panel ul {
	counter-reset: sectioncounter;
	padding: 0.3em 1.5em;
	margin: 0;
}

.marked-panel li::before {
	margin: 0 10px 0 15px;
	color: #a3d9e2;
	vertical-align: middle;
	font-size: large;
}

.marked-panel ul > li::before {
	content: ' * ';
}

.marked-panel ol > li::before {
	content: counter(sectioncounter) '′';
	counter-increment: sectioncounter;
}

.marked-panel pre a:hover {
	color: red;
}

.marked-panel pre::after {content: "";height: 0.1rem;position: absolute;bottom: 1.2rem;width: 100%;background-color: #000000a8;box-shadow: 0 0.2rem 0.3rem 0;}

.marked-panel pre div {
    background-color: whitesmoke;
}

.marked-panel code .expandMsg {
    font-weight: bolder;
    text-align: center;
    /* opacity: 0.95; */
    width: 100%;
    box-shadow: 0px -1rem 1rem 9px rgb(241 230 230);
    line-height: 1rem;
    color: black;
    background-color: rgb(241 230 230) !important;margin: -0.3rem 0 0 0;
    cursor: pointer;
}

.marked-panel code .expandMsg ~ div {
	display: none !important;
}

.marked-panel pre {
	position: relative;word-break: break-word;
	white-space: pre-wrap;
	border-radius: 2px;
	box-shadow: 0 -0.5rem 0.3rem -0.5rem;
	margin: 1.5rem 2rem;
	overflow: hidden;
	line-height: 1.5;
	text-shadow: 0 1px #fff;
	font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
	font-size: 1em;
	text-align: left;
	tab-size: 4;
/* background-color: whitesmoke; */
	color: black;
}

.marked-panel pre > code > div > div:last-child > div.line-start {
	border-radius: 0 0 0 8px;
}

.marked-panel .mermaid {
	padding: 20px;
	text-align: center;
	position: relative;
}

.mermaid[data-status='init']::before {
	display: block;
	position: absolute;
	text-align: center;
	background-color: #e4d5c6;
	border-radius: 0 0 4px 0;
	content: ' Initializing image, please wait... ';
}