#input_magnet {
    padding: 5px;
    width: 99%;
    resize: vertical;
    border-radius: 3px;
    min-height: 60px;
    color: blue;
}

#msg {
    color: #e22613e8;
    font-size: smaller;
    margin: 5px;
}

#output_magnet {
    word-break: break-all;
    margin: 5px;
    border: 1px solid gray;
    padding: 5px;
    color: blue;
    border-radius: 3px;
}